.app {
  height: 100vh;
  font-size: 18px;
}

* {
  text-align: center;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
}

h2 {
  padding: 1em 0 0;
  text-transform: uppercase;
}

h1 {
  padding: 0.5em 0;
}

.container {
  margin-top: 3em;
}

.dictionaries {
  width:100%;
}

.dictionary {
  width: 80%;
  margin-bottom: 3em;
}

#edit_btn {
  width: 100%;
}


#btn {
  min-width: 4em;
  margin: 0.5em;
  padding: 0.5em 0.8em;
}

.preview {
  margin-top: 1em;
}

.dictionaryView {
  width: 50%;
  padding: 1em;
}

.nav-link-gdc {
  color: white;
}

table {
  text-align: center;
  margin: 1em auto;
  border-collapse: collapse;
}

tr {
  border-bottom: 1px dotted grey;
}

th,
td {
  padding:  0 2em 0 0;
  padding-top: 1em;
}

a {
  text-decoration: none;
  cursor: pointer;
}
