
* {
  text-align: center;
  margin: 0 auto;
}

h2 {
  padding: 40px 0;
}

#btn {
    min-width: 60px;
    margin: 10px;
    padding: 5px 10px;
}

.wrapper {
  width: 50%;
}
.container {
  padding: 20px;
  width: 100%
}

.dictionary {
  width: 100%;
  margin-bottom: 50px;
}

.dictionary h2 {
  text-transform: uppercase;
}

.dictionary button {
  width: 100%
}

table {
  font-size: 20px;
  text-align: center;
  margin: 0px auto;
  border-collapse: collapse;
}

tr {
  border-bottom: 1px dotted grey;

}

th {
  border-bottom: 1px solid black;
}

th,
td {
  padding:  0 40px 0 0;
  padding-top: 15px;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.preview {
  margin-top: 20px
}


.DictionaryView {
  width: 50%;
  padding: 20px;
}
