
* {
  text-align: center;
  margin: 0 auto;
}

.wrapper {
  width: 50%;
}
.container {
  padding: 20px;
  width: 40%
}

.dictionary {
  width: 70%;
  margin-bottom: 50px;
}

.dictionary h2 {
  text-transform: uppercase;
}

.dictionary button {
  width: 100%
}

h1 {
  padding: 30px;
  margin: 50px auto;
}

table {
  font-size: 20px;
  text-align: center;
  margin: 0px auto;
  border-collapse: collapse;
}

tr {
  border-bottom: 1px dotted grey;

}

th {
  border-bottom: 1px solid black;
}

th,
td {
  padding:  0 40px 0 0;
  padding-top: 15px;
}

a {
  text-decoration: none;
  cursor: pointer;
}
